<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: page-header"></nav>
<body class="container body-content">
<div th:fragment="add-event-form" class="form">
    <h3>Log an Event</h3>

    <form method="post" action="#" th:action="@{/testing}" th:object="${event}" style="max-width:600px;">
        <div class="form-group">
            <div>
                <label>Choose an Event Type:</label></div>
            <div>
                <select name="eventTypeId" id="eventTypeId">
                    <option th:each="eventTypeItem: ${eventTypes}" th:text="${eventTypeItem.eventType}" th:value="${eventTypeItem.id}"/>
                </select>
            </div>

            <div><label>Event Title</label></div>
            <div><input type="text" class="form-control" /></div>
            <div>
                <label>
                    Description
                </label>
                <div><textarea class="form-control" th:field="${event.textEntry}"></textarea></div>
            </div>
        </div>
        <input type="submit" value="Save Entry" />
    </form>
</div>
</body>
</html>