<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<div>
    <table>
        <tr>
            <td>Equine Name</td>
            <td>ShadowFax</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>15.2</td>
        </tr>
        <tr>
            <td>Year Of Birth</td>
            <td>2009</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>1000lbs</td>
        </tr>
        <tr>
            <td>Breed</td>
            <td>Quarter Horse</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>Stallion</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>Bay</td>
        </tr>
        <tr>
            <td>In Foal?</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Foal at Side?</td>
            <td>No</td>
        </tr>
        <tr>
            <td>At Stud?</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>For Sale?</td>
            <td>No</td>
        </tr>
        <tr>
            <td>For Lease?</td>
            <td>No</td>
        </tr>
    </table>
</div>


</body>
</html>