<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title th:text="'Equester' + ${title == null ? '' : ' :: ' + title}">Equester</title>
</head>
<body>



<!-- header fragment -->

<nav th:fragment="page-header-two">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EQUESTER</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/userProfile}">About</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Equines<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li th:each="myEquineItem: ${myEquines}">
                                <!-- <span th:text="${myEquineItem.equineName}"></span>-->
                                <a th:text="${myEquineItem.equineName}" th:href="@{/equine/{id}(id=${myEquineItem.id})}"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/editEquineProfile}">Register an Equine</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

</nav>



<div th:fragment="event-feed" class="form">
    <hr>
    <h4><extralarge>EVENT FEED</extralarge></h4>
    <hr>
    <h5>Filter events by type: </h5>
    <h5>
        <a th:href="@{/equine/{id}/20(id=${equine.id})}"><span class="label label-danger" >General</span></a>
        <a th:href="@{/equine/{id}/22(id=${equine.id})}"><span class="label label-primary">Health and Maintenance</span></a>
        <a th:href="@{/equine/{id}/23(id=${equine.id})}"><span class="label label-success">Trail Miles</span></a>
        <a th:href="@{/equine/{id}/21(id=${equine.id})}"><span class="label label-info">Competition</span></a>
        <a th:href="@{/equine/{id}/24(id=${equine.id})}"><span class="label label-warning">Pleasure Ride/Drive</span></a>
        <a th:href="@{/equine/{id}(id=${equine.id})}"> <span class="label label-default">All Events</span></a>
    </h5>
    <hr>



<div th:block th:each="event : ${myEvents}" class="panel panel-default">
    <div class="panel-heading"><h5 th:text="${event.eventTitle}">Shoeing - Full set</h5></div>
    <div class="panel-body">
    <p th:text="${event.textEntry}"> event description
        </p>
        <div class="panel-footer"><p th:text="${event.eventType.eventType}">Health and Maintenance</p>
            <h5 th:text="${event.getFormattedDate()}" class="glyphicon glyphicon-time"> Post by Jane Dane, Sep 27, 2015.</h5></div>
    </div>
    <br>
</div>

    <hr>
</div>
</div>



<div th:fragment="add-event-form" class="form">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Click here to log an event
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">

    <form method="post" action="#" th:action="|/equine/${equineId}|"  th:object="${event}" style="max-width:600px;">
        <div class="form-group">
            <div>
                <label>Choose an Event Type:</label></div>
                <div>
                    <select name="eventTypeId" id="eventTypeId">
                        <option th:each="eventTypeItem: ${eventTypes}" th:text="${eventTypeItem.eventType}" th:value="${eventTypeItem.id}"/>
                    </select>
                </div>

            <div><label>Event Title</label></div>
            <div><input type="text" class="form-control" th:field="${event.eventTitle}"></input></div>
            <div>
                <label>
                    Description
                </label>
                <div><textarea class="form-control" th:field="${event.textEntry}"></textarea></div>
            </div>
        </div>
        <input type="submit" value="Save Entry" />
    </form>
</div>

    </div>
</div>
</body>

</body>



</html>