<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/equester.css}" rel="stylesheet" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title th:text="'Equester' + ${title == null ? '' : ' :: ' + title}">Equester</title>
</head>
<body>

<!-- header fragment -->
<nav th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top navbar-fluid">


    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">E.Q.U.E.S.T.E.R</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/userProfile}">About</a></li>
            <li><a th:href="@{/editEquineProfile}">Register an Equine</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                My Equines
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:each="myEquineItem: ${myEquines}">
                       <!-- <span th:text="${myEquineItem.equineName}"></span>-->
                        <a th:text="${myEquineItem.equineName}" th:href="@{/equine/{id}(id=${myEquineItem.id})}"></a>
                    </li>
                </ul>
            </li>
            <li><form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form></li>
            <li>
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
    </div>
</nav>



<nav th:fragment="page-header-two">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E.Q.U.E.S.T.E.R</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/userProfile}">About</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Equines<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li th:each="myEquineItem: ${myEquines}">
                                <!-- <span th:text="${myEquineItem.equineName}"></span>-->
                                <a th:text="${myEquineItem.equineName}" th:href="@{/equine/{id}(id=${myEquineItem.id})}"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/editEquineProfile}">Register an Equine</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

</nav>



<div th:fragment="event-feed" class="form">
    <hr>
    <h4><extralarge>EVENT FEED</extralarge></h4>
    <hr>
    <h5>Filter events by type: </h5>
    <h5><span class="label label-danger">Farrier</span>
        <span class="label label-primary">Health and Maintenence</span>
        <span class="label label-success">Trail Miles</span>
        <span class="label label-info">Competition</span>
        <span class="label label-warning">Pleasure Ride/Drive</span>
        <span class="label label-default">All Events</span></h5>
    <hr>
    <h2>Shoeing - Full set</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Farrier</span></h5>
    <p> @GlenGFarrier came out and put a full set of shoes on Shadowfax today. Blah blah blah Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br>
    <hr>
    <h2>Weekend At Greensfelder Park!</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
    <h5><span class="label label-success">Trail Ride</span></h5><br>
    <p>Lovely Ride at Greensfelder Park with @JennyH and @KatyB Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <hr>
</div>



<div th:fragment="add-event-form" class="form">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Click here to log an event
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">

    <form method="post" action="#" th:action="@{/testing}" th:object="${event}" style="max-width:600px;">
        <div class="form-group">
            <div>
                <label>Choose an Event Type:</label></div>
                <div>
            <select name="eventTypeId" id="eventTypeId">
                <option th:each="eventTypeItem: ${eventTypes}" th:text="${eventTypeItem.eventType}" th:value="${eventTypeItem.id}"/>
            </select>
                </div>

            <div><label>Event Title</label></div>
            <div><input type="text" class="form-control" th:field="${event.eventTitle}"></input></div>
            <div>
                <label>
                    Description
                </label>
                <div><textarea class="form-control" th:field="${event.textEntry}"></textarea></div>
            </div>
        </div>
        <input type="submit" value="Save Entry" />
    </form>
</div>

    </div>
</div>
</body>

</body>



</html>